<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mẫu CV 01</title>
    <meta name="viewport"
          content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
</head>
<body>

<table align="center" cellpadding="0" cellspacing="0" style="border:3px solid #0080ff;background:white;width:640px">
    <tbody>
    <tr>
        <td width="5%"></td>
        <td style="padding:10px 0">
            <table cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%" border="0">
                <tbody>
                <tr>
                    <td>
                        <h1 style="font-family:Arial,sans-serif;text-align:center;font-size:32px;color:#03a9f4;margin:20px 0 0 0">
                            Chào mừng bạn đến với<br>WORKSVN!
                        </h1>
                        <p style="text-align:center;font-family:Arial,sans-serif;margin:5px 0 15px 0;font-size:14px;color:#666;line-height:18px">
                            Cổng thông tin kết nối <strong>Sinh Viên - Nhà Trường - Doanh Nghiệp</strong>
                        </p>
                        <p style="text-align:center">
                            <img src="https://static.works.vn/static/images/line.png" width="45%" height="3">
                        </p>
                        <p style="font-family:Arial,sans-serif;margin:0 55px 15px;font-size:14px;color:#666;line-height:18px;text-align:left">
                            Xin chào,
                        </p>
                        <p style="font-family:Arial,sans-serif;margin:0 55px 25px;font-size:14px;color:#666;line-height:18px;text-align:left">
                            Dưới đây là thông tin tài khoản đã được tạo:
                        </p>
                        <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;max-width:100%"
                               align="center" width="460" border="0">
                            <tbody>
                            <tr>
                                <td style="width:82px">
                                    <img style="display:block" src="https://static.works.vn/static/images/account_icon.jpg" width="50"
                                         height="50">
                                </td>
                                <td style="border-radius:10px;background:#00bfff">
                                    <table cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%"
                                           border="0">
                                        <tbody>
                                        <tr>
                                            <td style="font-family:Arial,sans-serif;font-size:14px;color:#424242;padding-left:20px;padding-right:10px;line-height:24px;vertical-align:middle">
                                                Tài khoản:
                                            </td>
                                            <td style="font-family:Arial,sans-serif;font-size:14px;color:#424242;padding-right:10px;line-height:24px;vertical-align:middle">
                                                <strong>
                                                    <a style="color:#424242;text-decoration:none">[[${username}]]</a>
                                                </strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p style="font-family:Arial,sans-serif;margin:25px 55px 15px;font-size:14px;color:#666;line-height:18px;text-align:justify">
                            Chỉ thêm một bước nữa, bạn đã có thể tham gia vào Cổng thông tin kết nối Sinh Viên - Nhà
                            Trường - Doanh Nghiệp. Hãy kích hoạt tài khoản của bạn và bắt đầu ngay hôm nay!
                        </p>
                        <p style="font-family:Arial,sans-serif;margin:30px 0 10px;font-size:14px;color:#666;line-height:18px;text-align:center">
                            <a href="#"
                               style="color:#fff;background:#ff9800;font-weight:bold;font-size:14px;text-decoration:none;border-color:#ff9800;border-width:12px;border-left-width:25px;border-right-width:25px;border-style:solid;border-radius:10px;display:inline-block"
                               target="_blank" th:href="${email_verification_url}">Kích hoạt tài khoản
                            </a>
                        </p>


                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td width="5%">

        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td style="font-size:11px;font-family:Arial,sans-serif;color:#999;text-align:center;padding-bottom:30px;line-height:16px">
            <a href="" style="color:#999" target="_blank" data-saferedirecturl="">Sđt: 0964 403 166
            </a> |
            <a href="https://works.vn/" style="color:#999" target="_blank" data-saferedirecturl=""> Web: https://works.vn
            </a> |
            <a href="#" style="color:#999;text-transform:capitalize" target="_blank" data-saferedirecturl="">Email: support@works.vn</a> <br> Copyright © Công Ty Cổ Phần WORKSVN
        </td>
        <td width="5%"></td>
    </tr>
    </tbody>
</table>
</body>
</html>